# Environment
NODE_ENV=development
PORT=3003

# Database
MONGODB_URI=mongodb://admin:admin123@localhost:27018/auction_db?authSource=admin

# Redis
REDIS_URL=redis://:redis123@localhost:6379

# JWT (phải giống với auth-service)
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# Services URLs
AUTH_SERVICE_URL=http://auth-service:3001
AUCTION_SERVICE_URL=http://auction-service:3002
